a:hover{
	text-decoration: none;
}
a:link{
	text-decoration: none;
}
.menus>a{
	display: block;
	width: 100%;
	height: 100%;
}
.menus>a>span{
	float: right;
	font-size: 12px;
}
.menus-sub>.list-group-item>a{
	font-size: 13px;
	display: block;
	color: #000;
}
.menus-sub>.list-group-item>a:hover{
	color: cornflowerblue;
}