.login{
    display: flex;
}
.login-left{
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-right{
    width: 60%;
    height: 100%;
}
.login-right>img{
    width: 100%;
}
.user-in{
    width: 70%;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
}
.user-in>h2{
    margin-top: 40px;
    color: #000;
    text-align: center;
    /*设置字体阴影*/
    text-shadow: 2px 1px 3px #666;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.form>input{
    width: 90%;
    margin-bottom: 5px;
}
.form>button{
    width: 90%;
    margin-top: 20px;
}