<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
	<link rel="stylesheet" href="dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/welcome.css">
	<link rel="stylesheet" href="css/statistics.css">
	<!-- 引入自定义字体图标 -->
	<link rel="stylesheet" href="dist/wms/iconfont.css">
	<link rel="stylesheet" href="bt/bootstrap-table.css">
	<link href="https://cdn.jsdelivr.net/npm/jquery-treegrid@0.3.0/css/jquery.treegrid.css" rel="stylesheet">
  </head>
  <body>
    
	<!-- 网站头部开始 -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	  	<a class="navbar-brand" href="/">百惠仓储管理系统</a>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 夜泊 <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">修改密码</a></li>
				<li><a href="#">注销</a></li>
			  </ul>
			</li>
		</ul>
	  </div>
	</nav>
	<!-- 网站头部结束 -->
	
	<!-- 网站内容 start -->
	<div class="container-fluid">
		<div class="row">
			<!-- 网站左侧 -->
			<div class="col-lg-2">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading1">
				      <h4 class="panel-title menus">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
				          仪表盘 <span class="glyphicon glyphicon-chevron-down"></span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" aria-expanded="false">
				      <div class="list-group menus-sub">
				      	<li class="list-group-item"> <a href="pages/statistics.html">商业智能</a> </li>
				      </div>
				    </div>
				  </div>
				  
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading2">
				      <h4 class="panel-title menus">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
				          系统设置 <span class="glyphicon glyphicon-chevron-down"></span>
				        </a>				
				      </h4>
				    </div>
				    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" aria-expanded="false">
				      <ul class="list-group menus-sub">
				      	<li class="list-group-item"> <a href="pages/userList.html">用户管理</a> </li>
				  		<li class="list-group-item"> <a href="pages/roleList.html">角色管理</a> </li>
						<li class="list-group-item"> <a href="pages/departmentList.html">部门管理</a> </li>
						<li class="list-group-item"> <a href="pages/menuList.html">菜单管理</a> </li>
				      </ul>
				    </div>
				  </div>
				  
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading3">
				      <h4 class="panel-title menus">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
				          基础数据 <span class="glyphicon glyphicon-chevron-down"></span>
				        </a>				
				      </h4>
				    </div>
				    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3" aria-expanded="false">
				      <ul class="list-group menus-sub">
				      	<li class="list-group-item"> <a href="pages/productList.html">产品管理</a> </li>
				  		<li class="list-group-item"> <a href="pages/customerList.html">客户管理</a></li>
				  		<li class="list-group-item"> <a href="pages/supplierList.html">供应商管理</a></li>
				  		<li class="list-group-item"> <a href="pages/logisticsList.html">承运商管理</a></li>
				      </ul>
				    </div>
				  </div>
				  
				  
				  
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading4">
				      <h4 class="panel-title menus">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
				          仓库管理 <span class="glyphicon glyphicon-chevron-down"></span>
				        </a>			
				      </h4>
				    </div>
				    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4" aria-expanded="false">
				      <ul class="list-group menus-sub">
						<li class="list-group-item"> <a href="pages/warehouseList.html">仓库管理</a></li>
				      	<li class="list-group-item"> <a href="pages/warehouseIn.html">入库管理</a></li>
				  		<li class="list-group-item"> <a href="pages/warehouseOut.html">出库管理</a></li>
						<li class="list-group-item"> <a href="pages/productStock.html">库存查询</a></li>
				      </ul>
				    </div>
				  </div>
				  
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading5">
				      <h4 class="panel-title menus">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
				          字典管理 <span class="glyphicon glyphicon-chevron-down"></span>
				        </a>			
				      </h4>
				    </div>
				    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5" aria-expanded="false">
				      <ul class="list-group menus-sub">
						<li class="list-group-item"> <a href="pages/categoryList.html">产品类目</a> </li>
						<li class="list-group-item"> <a href="pages/customerLevelList.html">客户级别</a> </li>
						<li class="list-group-item"> <a href="pages/customerSourceList.html">客户来源</a> </li>
				      </ul>
				    </div>
				  </div>
				  
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading6">
				      <h4 class="panel-title menus">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
							日志管理 <span class="glyphicon glyphicon-chevron-down"></span>
				        </a>			
				      </h4>
				    </div>
				    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6" aria-expanded="false">
				      <ul class="list-group menus-sub">
							<li class="list-group-item"> <a href="pages/sysLog.html">系统日志</a> </li>
							<li class="list-group-item"> <a href="pages/loginOutLog.html">登录日志</a> </li>
				      </ul>
				    </div>
				  </div>
				  
				</div>
			</div>
			<div class="col-lg-10 showContent">
				<!-- 我是右侧内容展示区 -->
				
			</div>
		</div>
	</div>
	<!-- 网站内容 end -->
	
	<!-- 网站尾部 start -->
	<footer style="position: fixed;bottom: 0;left: 0;width: 100%;text-align: center;padding: 10px 0;background-color: #f5f5f5;font-size: 12px;cursor: pointer;">
		百惠仓库管理系统
	</footer>
	<!-- 网站尾部 end -->
	
	<script src="dist/js/jquery-3.5.1.min.js"></script>
	<script src="dist/js/bootstrap.min.js"></script>
	<script src="bt/bootstrap-table.js"></script>
	<script src="bt/locale/bootstrap-table-zh-CN.js"></script>
	<script src="js/echarts/echarts.js"></script>
	<!-- 公共js -->
	<script src="js/common.js"></script>
	<!-- 引入home.js，首页的js操作全部在这里 -->
	<script src="js/home.js"></script>
	<!-- 引入treegrid -->
	<script src="https://cdn.jsdelivr.net/npm/jquery-treegrid@0.3.0/js/jquery.treegrid.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/treegrid/bootstrap-table-treegrid.min.js"></script>
  </body>
</html>