<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>百慧wms仓库</title>
    <link href="layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" href="css/hxx-login.css">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/ico/favicon.ico" />
</head>
<body style="background-color: #f7fafc;">

    <div class="layui-container">
        <div class="layui-row login">
            <div class="login-left">
                <div class="user-in">
                    <h2>百惠WMS后台管理系统</h2>
                    <form class="form" method="post" action="#">
                        <input class="layui-input" type="tel" name="userTel" placeholder="手机号"/>
                        <input class="layui-input" type="password" name="password" placeholder="密码"/>
                        <div class="layui-input" style="width: 90%;display: flex;">
                            <input type="text" name="vc" placeholder="验证码" style="border: none;width: 120px;"/>
                            <img id="vc" src="/getVerifyCode">
                        </div>
                        <button type="submit" class="layui-btn layui-btn-normal layui-btn-fluid">登录</button>
                    </form>
                </div>
            </div>
            <div class="login-right">
                <img src="img/bg.svg">
            </div>
        </div>
    </div>

<script src="layui/layui.js"></script>
<script src="js/hxx.js"></script>
</body>
</html>