<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.CategoryMapper">

    <insert id="addCategory" parameterType="category">
        INSERT INTO category(CATEGORY_NAME,CREATE_TIME,IS_DELETE) VALUES(#{categoryName},#{createTime},#{isDelete})
    </insert>
    
    <select id="getCategoryByCategoryId" resultType="category">
        SELECT * FROM category WHERE CATEGORY_ID=#{categoryId}
    </select>

</mapper>