<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.DepartmentMapper">

    <insert id="addDepartment" parameterType="department">
        INSERT INTO department(
                               DEPT_NAME,`LEVEL`,PARENT_ID,CREATE_TIME,IS_DELETE)
                       VALUES (#{deptName},#{level},#{parentId},#{createTime},#{isDelete})
    </insert>

    <update id="updateDepartment" parameterType="department">
        UPDATE department
        <set>
            <if test="deptName!=null">DEPT_NAME=#{deptName},</if>
            <if test="level!=null">LEVEL=#{level},</if>
            <if test="parentId!=null">PARENT_ID=#{parentId},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
            <if test="isDelete!=null">IS_DELETE=#{isDelete}</if>
        </set>
        <where>
            dept_id=#{deptId}
        </where>
    </update>

    <resultMap id="deptMap" type="department">
        <id column="DEPT_ID" property="deptId"></id>
        <result column="DEPT_NAME" property="deptName"></result>
        <result column="LEVEL" property="level"></result>
        <result column="PARENT_ID" property="parentId"></result>
        <result column="CREATE_TIME" property="createTime"></result>
        <result column="UPDATE_TIME" property="updateTime"></result>
        <result column="IS_DELETE" property="isDelete"></result>
        <collection property="children" ofType="department" column="DEPT_ID" select="io.ukoko.bhwms.mapper.DepartmentMapper.getSubDepartmentListByParentId"></collection>
    </resultMap>

    <select id="getDepartmentList$" resultMap="deptMap">
        SELECT * FROM department WHERE PARENT_ID=0  ORDER BY PARENT_ID ASC,DEPT_ID ASC
    </select>

    <select id="getDepartmentList" resultType="department">
        SELECT * FROM department  ORDER BY PARENT_ID ASC,DEPT_ID ASC
    </select>
    
    <select id="getSubDepartmentListByParentId" parameterType="int" resultMap="deptMap">
        SELECT * FROM department WHERE  PARENT_ID=#{parentId}
    </select>
    
    <select id="getDepartmentListByDeptId" parameterType="int" resultType="department">
        SELECT * FROM department WHERE IS_DELETE=1 AND PARENT_ID=#{deptId}
    </select>

    <update id="deleteDepartment" parameterType="int">
        UPDATE department SET IS_DELETE=0 WHERE dept_id=#{deptId}
    </update>

</mapper>