<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.IndustryMapper">

    <insert id="addIndustry" parameterType="industry">
        INSERT INTO industry(INDUSTRY_NAME,CREATE_TIME,IS_DELETE) VALUES (#{industryName},#{createTime},#{isDelete})
    </insert>

    <select id="getIndustryList" resultType="industry">
        SELECT * FROM industry
    </select>
    
    <select id="getIndustry" resultType="Industry" parameterType="int">
        SELECT * FROM industry WHERE INDUSTRY_ID=#{industryId}
    </select>

    <update id="updateIndustry" parameterType="industry">
        UPDATE industry
        <set>
            <if test="industryName!=null">INDUSTRY_NAME=#{industryName},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
            <if test="isDelete!=null">IS_DELETE=#{isDelete}</if>
        </set>
        <where>
            <if test="industryId!=null">INDUSTRY_ID=#{industryId}</if>
        </where>
    </update>

    <update id="deleteIndustry" parameterType="int">
        UPDATE industry SET IS_DELETE=0 WHERE INDUSTRY_ID=#{industryId}
    </update>

    <update id="batchDeleteIndustry" parameterType="int">
        <foreach collection="list" item="item" separator=";">
            UPDATE industry SET IS_DELETE=0 WHERE INDUSTRY_ID=#{item}
        </foreach>
    </update>

</mapper>