<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.MenusMapper">

    <resultMap id="menusMap" type="menus">
        <id column="MENU_ID" property="menuId"></id>
        <result column="MENU_NAME" property="menuName"></result>
        <result column="P_ID" property="pId"></result>
        <result column="IS_DELETE" property="isDelete"></result>
    </resultMap>

    <!--  查询顶层父级菜单列表  -->
    <select id="getMenuList" resultMap="menusMap">
        SELECT * FROM menus ORDER BY P_ID ASC,MENU_ID ASC
    </select>

</mapper>