<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.MenuMapper">

    <insert id="addMenu" parameterType="menu">
        INSERT INTO
            menus(
                 MENU_NAME,MENU_URL,`LEVEL`,
                 PARENT_ID,CREATE_TIME,IS_DELETE
                 )
            VALUES(
                   #{menuName},#{menuUrl},#{level},
                   #{parentId},#{createTime},#{isDelete}
                  )
    </insert>

    <select id="getMenuList" resultType="menu">
        SELECT * FROM menus ORDER BY PARENT_ID ASC,MENU_ID ASC
    </select>
    
</mapper>