<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.ProductMapper">

    <insert id="addProduct" parameterType="product">
        INSERT INTO product
            (PRODUCT_NAME,PRODUCT_SIZE,PRODUCT_PRICE,
             CATEGORY_ID,CREATE_TIME,IS_DELETE
            )
        VALUES
            (
             #{productName},#{productSize},#{productPrice},
             #{categoryId},#{createTime},#{isDelete}
             )
    </insert>

    <update id="updateProduct" parameterType="product">
        UPDATE product
        <set>
            <if test="productName!=null">PRODUCT_NAME=#{productName},</if>
            <if test="productSize!=null">PRODUCT_SIZE=#{productSize},</if>
            <if test="productPrice!=null">PRODUCT_PRICE=#{productPrice},</if>
            <if test="categoryId!=null">CATEGORY_ID=#{categoryId},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
            <if test="isDelete!=null">IS_DELETE=#{isDelete}</if>
        </set>
        <where>
            <if test="productId!=null">PRODUCT_ID=#{productId}</if>
        </where>
    </update>


    <update id="deleteProduct" parameterType="int">
        UPDATE product SET IS_DELETE=0 WHERE PRODUCT_ID=#{productId}
    </update>

    <update id="batchDeleteProduct">
        <foreach collection="list" item="item" separator=";">
            UPDATE product SET IS_DELETE=0 WHERE PRODUCT_ID=#{item}
        </foreach>
    </update>


    <resultMap id="productMap" type="product">
        <id column="PRODUCT_ID" property="productId"></id>
        <result column="PRODUCT_NAME" property="productName"></result>
        <result column="CATEGORY_ID" property="categoryId"></result>
        <result column="PRODUCT_SIZE" property="productSize"></result>
        <result column="PRODUCT_PRICE" property="productPrice"></result>
        <result column="CREATE_TIME" property="createTime"></result>
        <result column="UPDATE_TIME" property="updateTime"></result>
        <result column="IS_DELETE" property="isDelete"></result>
        <association property="category" column="CATEGORY_ID" select="io.ukoko.bhwms.mapper.CategoryMapper.getCategory"></association>
    </resultMap>

    <select id="getProductList" resultMap="productMap">
        SELECT * FROM product
        <where>
            <if test="productId!=null">PRODUCT_ID LIKE CONCAT('%',#{productId},'%')</if>
            <if test="productName!=null">PRODUCT_NAME LIKE CONCAT('%',#{productName},'%')</if>
            <if test="productSize!=null"> AND PRODUCT_SIZE LIKE CONCAT('%',#{productSize},'%')</if>
            <if test="isDelete!=null"> AND IS_DELETE=#{isDelete}</if>
            <if test="startTime!=null and endTime!=null"> AND CREATE_TIME <![CDATA[>=]]> #{startTime} AND CREATE_TIME <![CDATA[<=]]> #{endTime}</if>
        </where>
    </select>
    <select id="getProductAll" resultType="product">
        SELECT * FROM product
    </select>

    <select id="getProductByProductId" parameterType="int" resultMap="productMap">
        SELECT * FROM product WHERE PRODUCT_ID=#{productId}
    </select>
</mapper>
