<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.ProductMapper">

    <insert id="addProduct" parameterType="product">
        INSERT INTO
            product(
                PRODUCT_NAME,CATEGORY_ID,PRODUCT_SIZE,PRODUCT_PRICE,CREATE_TIME,IS_DELETE
            )
        VALUES(
               #{productName},#{categoryId},#{productSize},#{productPrice},#{createTime},#{isDelete}
               )
    </insert>

    <resultMap id="proMap" type="product">
        <id column="PRODUCT_ID" property="productId"></id>
        <result column="PRODUCT_NAME" property="productName"></result>
        <result column="PRODUCT_SIZE" property="productSize"></result>
        <result column="PRODUCT_PRICE" property="productPrice"></result>
        <result column="CATEGORY_ID" property="categoryId"></result>
        <result column="CREATE_TIME" property="createTime"></result>
        <result column="UPDATE_TIME" property="updateTime"></result>
        <result column="IS_DELETE" property="isDelete"></result>
        <association property="category" javaType="category" column="CATEGORY_ID" select="io.ukoko.bhwms.mapper.CategoryMapper.getCategoryByCategoryId"></association>
    </resultMap>
    <select id="getProductList" parameterType="product" resultMap="proMap">
        SELECT * FROM product
        <where>
            <if test="productName!=null">PRODUCT_NAME LIKE CONCAT('%',#{productName},'%')</if>
            <if test="categoryId!=null">AND CATEGORY_ID=#{categoryId}</if>
            <if test="productSize!=null">AND PRODUCT_SIZE=#{productSize}</if>
            <if test="productPrice!=null">AND PRODUCT_PRICE=#{productPrice}</if>
            <if test="isDelete!=null">AND IS_DELETE=#{isDelete}</if>
            <if test="productId!=null">AND PRODUCT_ID=#{productId}</if>
        </where>
    </select>

</mapper>