<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.RecordInMapper">

    <insert id="addRecordIn" parameterType="recordIn">
        INSERT INTO
                record_in
                (
                    SUPPLIER_ID,PRODUCT_ID,RECORD_IN_NUMBER,
                    RECORD_IN_TIME,USER_ID,REPO_ID,
                    REMARKS,CREATE_TIME,IS_DELETE
                )
                VALUES
                (
                    #{supplierId},#{productId},#{recordInNumber},
                    #{recordInTime},#{userId},#{repoId},
                    #{remarks},#{createTime},#{isDelete}
                )
    </insert>

    <select id="getStatisticsInMonth" resultType="statistics">
        SELECT
            IFNULL(bb.count,0) AS "count",aa.date AS "time"
                FROM
                    (SELECT DATE_FORMAT(@cdate := DATE_ADD(@cdate,INTERVAL -1 MONTH),'%Y-%m') AS DATE
                        FROM
                            (SELECT @cdate := DATE_ADD(CURDATE(),INTERVAL 1 MONTH) FROM record_in) a LIMIT 12) aa
                                LEFT JOIN
                                    (SELECT SUM(record_in_number) AS COUNT,DATE_FORMAT(record_in_time,'%Y-%m') AS mon FROM record_in GROUP BY mon) bb
                                        ON aa.date=bb.mon ORDER BY aa.date ASC
    </select>

    <select id="getStatisticsInByTime" resultType="statistics">
        SELECT product_id,sum(record_in_number) AS 'count'
            FROM record_in
            WHERE
                record_in_time <![CDATA[>=]]> #{startTime} AND record_in_time <![CDATA[<=]]> #{endTime}
            GROUP BY product_id
    </select>
    <select id="getShipmentQuantityForToday" resultType="java.lang.Integer">
        SELECT SUM(RECORD_IN_NUMBER) FROM record_in WHERE DATE(RECORD_IN_TIME) = CURDATE()
    </select>

</mapper>
