<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.RecordOutMapper">

    <insert id="addRecordOut" parameterType="recordOut">
        INSERT INTO
            record_out
        (
            CUSTOMER_ID,PRODUCT_ID,RECORD_OUT_NUMBER,
            RECORD_OUT_TIME,USER_ID,REPO_ID,
            REMARKS,CREATE_TIME,IS_DELETE
        )
        VALUES
            (
                #{customerId},#{productId},#{recordOutNumber},
                #{recordOutTime},#{userId},#{repoId},
                #{remarks},#{createTime},#{isDelete}
            )
    </insert>

    <select id="getStatisticsOutMonth" resultType="statistics">
        SELECT
            IFNULL(bb.count,0) AS "count",aa.date AS "time"
                FROM
                    (SELECT DATE_FORMAT(@cdate := DATE_ADD(@cdate,INTERVAL -1 MONTH),'%Y-%m') AS DATE
                        FROM
                            (SELECT @cdate := DATE_ADD(CURDATE(),INTERVAL 1 MONTH) FROM record_out) a LIMIT 12) aa
                                LEFT JOIN
                                    (SELECT SUM(record_out_number) AS COUNT,DATE_FORMAT(record_out_time,'%Y-%m') AS mon FROM record_out GROUP BY mon) bb
                                        ON aa.date=bb.mon ORDER BY aa.date ASC
    </select>

    <select id="getStatisticsOutByTime" resultType="statistics">
        SELECT product_id,sum(record_out_number) AS 'count'
            FROM record_out
            WHERE
                record_out_time <![CDATA[>=]]> #{startTime} AND record_out_time <![CDATA[<=]]> #{endTime}
            GROUP BY product_id
    </select>

</mapper>