<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.RepositoryMapper">

    <insert id="addRepository" parameterType="repository">
        INSERT INTO repository
                (REPO_NAME,REPO_ADDRESS,REPO_AREA,REPO_DESC,
                 REPO_STATUS,CREATE_TIME,IS_DELETE)
        VALUES  (#{repoName},#{repoAddress},#{repoArea},#{repoDesc},
                 #{repoStatus},#{createTime},#{isDelete})
    </insert>
    
    <update id="deleteRepository" parameterType="int">
        UPDATE repository SET IS_DELETE=0 WHERE REPO_ID=#{repoId}
    </update>

    <update id="updateRepository" parameterType="repository">
        UPDATE repository
        <set>
            <if test="repoAddress!=null">REPO_ADDRESS=#{repoAddress},</if>
            <if test="repoArea!=null">REPO_AREA=#{repoArea},</if>
            <if test="repoName!=null">REPO_NAME=#{repoName},</if>
            <if test="repoDesc!=null">REPO_DESC=#{repoDesc},</if>
            <if test="repoStatus!=null">REPO_STATUS=#{repoStatus},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
            <if test="isDelete!=null">IS_DELETE=#{isDelete}</if>
        </set>
        <where>
            REPO_ID=#{repoId}
        </where>
    </update>

    <select id="getRepositoryList" resultType="repository">
        SELECT * FROM repository
        <where>
            <if test="repoAddress!=null">REPO_ADDRESS LIKE CONCAT('%',#{repoAddress},'%')</if>
            <if test="repoName!=null">AND REPO_NAME LIKE CONCAT('%',#{repoName},'%')</if>
            <if test="startTime!=null and endTime!=null">AND CREATE_TIME <![CDATA[>=]]> #{startTime} AND CREATE_TIME <![CDATA[<=]]> #{endTime}</if>
        </where>
    </select>

    <update id="batchDeleteRepository">
        <foreach collection="list" item="item" separator=";">
            UPDATE repository SET IS_DELETE=0 WHERE REPO_ID=#{item}
        </foreach>
    </update>
</mapper>