<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.SupplierMapper">

    <insert id="addSupplier" parameterType="supplier">
        INSERT INTO
            supplier(
            SUPPLIER_NAME,SUPPLIER_LEADER,
            SUPPLIER_TEL,SUPPLIER_EMAIL,
            SUPPLIER_ADDRESS,CREATE_TIME,IS_DELETE
        )
        VALUES(
                  #{supplierName},#{supplierLeader},
                  #{supplierTel},#{supplierEmail},
                  #{supplierAddress},#{createTime},#{isDelete}
              )
    </insert>

    <update id="updateSupplier" parameterType="supplier">
        UPDATE supplier
        <set>
            <if test="supplierName!=null">SUPPLIER_NAME=#{supplierName},</if>
            <if test="supplierLeader!=null">SUPPLIER_LEADER=#{supplierLeader},</if>
            <if test="supplierTel!=null">SUPPLIER_TEL=#{supplierTel},</if>
            <if test="supplierEmail!=null">SUPPLIER_EMAIL=#{supplierEmail},</if>
            <if test="supplierAddress!=null">SUPPLIER_ADDRESS=#{supplierAddress},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
            <if test="isDelete!=null">IS_DELETE=#{isDelete}</if>
        </set>
        <where>
            <if test="supplierId!=null">SUPPLIER_ID=#{supplierId}</if>
        </where>
    </update>

    <update id="deleteSupplier" parameterType="int">
        UPDATE supplier SET IS_DELETE=0 WHERE SUPPLIER_ID=#{supplierId}
    </update>

    <update id="batchDeleteSupplier">
        <foreach collection="list" item="item" separator=";">
            UPDATE supplier SET IS_DELETE=0 WHERE SUPPLIER_ID=#{item}
        </foreach>
    </update>


    <select id="getSupplierAll" resultType="supplier">
        SELECT * FROM supplier WHERE IS_DELETE=1
    </select>

    <resultMap id="supplierMap" type="supplier">
        <id column="SUPPLIER_ID" property="supplierId"></id>
        <result column="SUPPLIER_NAME" property="supplierName"></result>
        <result column="SUPPLIER_LEADER" property="supplierLeader"></result>
        <result column="SUPPLIER_TEL" property="supplierTel"></result>
        <result column="SUPPLIER_EMAIL" property="supplierEmail"></result>
        <result column="SUPPLIER_ADDRESS" property="supplierAddress"></result>
        <result column="CREATE_TIME" property="createTime"></result>
        <result column="UPDATE_TIME" property="updateTime"></result>
        <result column="IS_DELETE" property="isDelete"></result>
    </resultMap>
    <select id="getSupplierBySuppierId" parameterType="int" resultMap="supplierMap">
        SELECT * FROM supplier WHERE SUPPLIER_ID=#{supplierId}
    </select>
    <select id="getSupplierList" resultType="supplier">
        SELECT * FROM supplier
        <where>
            IS_DELETE=1
            <if test="supplierName!=null"> AND SUPPLIER_NAME LIKE CONCAT('%',#{supplierName},'%')</if>
            <if test="supplierLeader!=null"> AND SUPPLIER_LEADER LIKE CONCAT('%',#{supplierLeader},'%')</if>
            <if test="supplierTel!=null"> AND SUPPLIER_TEL LIKE CONCAT('%',#{supplierTel},'%')</if>
        </where>
    </select>

</mapper>
