<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.UserDepartmentMapper">


    <insert id="addUserDepartment" parameterType="userDepartment">
        INSERT INTO
                user_department
                (DEPT_ID,USER_ID,CREATE_TIME,IS_DELETE)
                VALUES
                (#{deptId},#{userId},#{createTime},#{isDelete})
    </insert>

    <resultMap id="udMap" type="userDepartment">
        <id column="DEPT_ID" property="deptId"></id>
        <id column="USER_ID" property="userId"></id>
        <result column="CREATE_TIME" property="createTime"></result>
        <result column="UPDATE_TIME" property="updateTime"></result>
        <result column="IS_DELETE" property="isDelete"></result>
        <association property="department" column="DEPT_ID" select="io.ukoko.bhwms.mapper.DepartmentMapper.getDepartmentByDeptId"></association>
        <association property="user" column="USER_ID" select="io.ukoko.bhwms.mapper.UserMapper.getUser"></association>
    </resultMap>

    <select id="getUserDepartmentByUserId"  resultMap="udMap"  parameterType="int">
        SELECT * FROM user_department WHERE USER_ID=#{userId}
    </select>

</mapper>