<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ukoko.bhwms.mapper.UserRoleMapper">

    <insert id="addUserRole" parameterType="userRole">
        INSERT INTO
            user_role
            (ROLE_ID,USER_ID,CREATE_TIME,IS_DELETE)
        VALUES
            (#{roleId},#{userId},#{createTime},#{isDelete})
    </insert>

    <resultMap id="urMap" type="userRole">
        <id column="ROLE_ID" property="roleId"></id>
        <id column="USER_ID" property="userId"></id>
        <result column="CREATE_TIME" property="createTime"></result>
        <result column="UPDATE_TIME" property="updateTime"></result>
        <result column="IS_DELETE" property="isDelete"></result>
        <association property="role" column="ROLE_ID" select="io.ukoko.bhwms.mapper.RoleMapper.getRoleByRoleId"></association>
        <association property="user" column="USER_ID" select="io.ukoko.bhwms.mapper.UserMapper.getUser"></association>
    </resultMap>

    <select id="getUserRoleByUserId" resultMap="urMap" parameterType="int">
        SELECT * FROM user_role WHERE USER_ID=#{userId}
    </select>

</mapper>